@page
@model Hackaton.App.Frontend.Pages.EdituGerenciasModel
@{
    var ugerente = Model.uGerente;
}
 
<div class="text-center">
<form method="POST">
  <label for="id" class="form-label">id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id" asp-for="@ugerente.id">
  <label for="fecha_novedad" class="form-label">Fecha novedad :</label>
  <input type="date" class="form-control" id="nombre" name="fecha_novedad" placeholder="Fecha novedad" asp-for="@ugerente.fecha_novedad">
  <label for="dias_novedad" class="form-label">Dias novedad:</label>
  <input type="text" class="form-control" id="dias_novedad" name="dias_novedad" placeholder="Dias novedad" asp-for="@ugerente.dias_novedad">
  <label for="texto_explicativo" class="form-label">texto explicativo:</label>
  <input type="string" class="form-control" id="texto_explicativo" name="texto_explicativo" placeholder="texto_explicativo" asp-for="@ugerente.texto_explicativo">
 
  
  
  
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>